/* ------ html/body ------ */

html, body {
	max-width: 100%;
	height: 100vh;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#container {
	width: 100%;
	max-width: 1200px;
	min-width: 350px;
	margin: auto;
}

.backgroundimg { 
	background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* ------ disclaimer ------ */

#disclaimer {
	width: auto;
	max-height: 100%;
}

.row {
	margin:0!important;
}

.modal-container {
	max-height: 100%!important;
	overflow-y: scroll!important;
	width: 80%;
}

@media only screen and (max-width: 850px) {
	.modal-container {
		width: 100%!important;
	}
}

body.modal-open {
	overflow:hidden!important;
}


/* ------ banner ------ */

#bannerdiv {
	padding: 10px 0 10px 0;
}


/* ------ footer ------ */

@media only screen and (max-width: 991px) {
	.footer {
		padding: 20px!important;
	}
	
	.eulogo {
		width: 30%;
		min-width: 200px;
	}

	.proagrialogo {
		width: 30%;
		min-width: 200px;
	}

	.lamklogo {
		width: 30%;
		min-width: 200px;
	}
	#vastuuvapaus {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 992px) {
	.footer {
		border: 2px solid #bbb;
		padding: 20px!important;
		height: 215px;
		line-height: 100px;
	}
	
	.eulogo {
		width: 75%;
		vertical-align: middle!important;
	}

	.proagrialogo {
		width: 50%;
		vertical-align: middle!important;
	}

	.lamklogo {
		width: 70%;
		vertical-align: middle!important;
	}	
}


/* ------ panel settings ------ */

.panel-group {
	background-color:whitesmoke;
	border-radius:10px!important;
}

.panel-heading {
	background-color: #21a07f!important;
	color: white;
}

.panel-default {
	border: none!important;
}

#header-top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#header-bottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* ------ button settings ------ */

.btn-primary {
	background-color: #03824F;
	border-color: #0A623F;
}

.collapsebutton {
	background-color: #0A623F !important;
	float: right;
	border-color: #0A623F !important;
	margin-top: -10px;
	height: 3em;
}

.collapsebutton:hover {
	background-color: #005D2E !important;
	float: right;
	border-color: #0A623F !important;
}

.collapsebutton:active {
	background-color: #0A623F !important;
	float: right;
	border-color: #0A623F !important;
}

.collapsebutton:focus {
	background-color: #0A623F !important;
	float: right;
	border-color: #0A623F !important;
	outline: none !important;
}


/* ------ general ------ */

.icontext {
	margin-bottom: 25px;
	font-size: 12px;
}

.ulstyle {
	list-style: none;
	float:left;
}

.chartdiv {
	width: 95%!important;
}


/* ------ rakennukset ------ */
.ptext {
	word-wrap: break-word;
}


#buildingselectlist {
	margin-top: 15px;
}

#buildingselectlist p::first-letter {
	text-transform: capitalize;
}

#buildingselectlist li {
	float: left;
	width: auto;
	min-width: 225px;
}

#buildingtab {
	padding:1.2em;
}

#buildingtab p {
	margin-top: 10px;
}

.buildingselector > input{ /* HIDE RADIO */
  	visibility: hidden; /* Makes input not-clickable */
  	position: absolute; /* Remove input from document flow */
}
.buildingselector > input + img{ /* IMAGE STYLES */
  	cursor:pointer;
  	border:1px solid lightgray;
	background-color: lightgray;
	border-radius: 5px;
	height: 104px;
}

.buttonbase {
	position: relative;
}

.buttonhighlight {
	position: absolute;
	left: 27.5%;
	bottom: 6px;
	width: 102px;
	height: 102px;
	border: 5px solid #21a07f;
	border-radius: 3px;
	pointer-events: none;
}

#removeicon {	
	position: absolute;
	right: 30%;
	bottom: 110px;
}

#removeicon img {
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	right: -115%;
	border: 1.5px solid #21a07f;
	background: white;
	padding: 5px;
}

#removeicon label {
	height: 30px;
}

#removeicon label:hover {
	filter: brightness(1.2);
}

#removeicon input {
	visibility: hidden;
}

#quantityicon {
	position: absolute;
	right: 22%;
	bottom: 0;
	font-weight: bold;
	color: black;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	border: 1.5px solid #21a07f;
	background: white;
}

#quantityicon p {
	position: relative;
	bottom:2.2px;
}

.heatingmaxwarning {
	position: fixed;
	z-index: 10;
	bottom: 0;
	color: white;
	background-color: firebrick;
	padding: 2px 5px;
}

.calculatebtn {
	background-color: #0A623F !important;
	border-color: #0A623F !important;
	color:white;
}

.calculatebtn:hover {
	background-color: #005D2E !important;
	outline: none !important;
	border-color: #0A6C00 !important;
}

.calculatebtn:disabled {
	color: #3A3A3A;
	border-color: gray;
	background-color: lightgray;
}


/* ------ tulokset ------ */

#resultquantityicon {
	position: relative;
	top: 103px;
	left: 95px;
	font-weight: bold;
	color: black;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	border: 1.5px solid #21a07f;
	background-color: white;
}

#resultquantityicon p {
	position:relative;
	bottom:-6px;
}

@media only screen and (max-width: 992px) {
	#resultquantityicon {
		position: relative;
		top: 113px;
		left: 0;
		font-weight: bold;
		color: black;
		width: auto;
		height: auto;
		border-radius: 0;
		border: none;
		background-color: transparent;
	}
}

#resulttab {
	padding: 1.2em;
}

#resultlist {
	float: left;
	width: 50%;
	margin-bottom: 5px;
	min-width: 150px;
	height: 200px;
}

.biginfotext {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}


/* ------ tuotanto ------ */

#productiontab {
	padding: 1.2em;
}

.prodtypebtn {
	background-color: #21a07f;
	color: white;
	border: 0.5px solid #479aa4;
	border-radius: 3px;
	width: 150px;
	height: 35px;
	font-size: 15px;
}

.srcselectbtn {
	background-color: #21a07f;
	color: white;
	border: 0.5px solid #479aa4;
	font-size: 15px;
	border-radius: 3px;
	width: 156px;
	height: 35px;
	margin-bottom: 5px;
}

.prodmatlist li {
	float: left;
	margin-top: 15px;
}

.prodresultlist {
	margin-bottom: 50px;
}

.prodresultlist li {
	float: left;
	margin-top: 15px;
}

.prodresultbutton {
	background-color: #21a07f;
	color: white;
	border: 0.5px solid #479aa4;
	font-size: 15px;
	border-radius: 3px;
	width: 200px;
	height: 250px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #21a07f;
	color: #ffffff !important;
}

.buildingtabs {
	color: #fff;
	background-color: #0A623F !important;
	border-color: #0A623F;
	border: solid;
	border-width: 1px;
	border-radius: 5px !important;
	width: 190px;
	padding: 10px;
}

.buildingtabs:hover {
	color: #fff;
	background-color: #005D2E !important;
	border-color: #0A6C00;
	border: solid;
	border-width: 1px;
	border-radius: 5px !important;
	width: 190px;
	padding: 10px;
}	




/* ------ modal settings ------ */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h1 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  overflow-y: auto;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}