body {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.backgroundimg { 
	background: url('https://images.discordapp.net/.eJwFwdENhCAMANBdGIBiBRG3IUjQnLaE1vhxud3vva95xmU2c6h22QD2UwqP3YryyK3axtyumvsptvANWTWX466kAhhjwjB7dMGFaUkJAdfJI_q4pji7GHxY4KEP8Uu2UzO_PwgfIuY.t1s_ARUteYNor-_lLJW0kfBaReY') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#main {
	margin-top: -20px;
	background-color: white;
	padding: 30px;
}

#conta {
	border:3px solid #61a786;
	padding: 6px;
	display: inline-block;
	background-color: #61a786;
	color: white;
}

#conta:hover {
	border:3px solid #7CB69A;
}

#title {
	
}

.largep {
	font-size: 16px;
}

.smallp {
	
}